<!doctype html>
<html class="chrometwo legacyfalse">
    <head>
        <title>Access Labs Log Reaper</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- http://www.bootstrapcdn.com/ -->
        <!--<script type="text/javascript" src="js/bower_components/d3/d3.min.js"></script>-->
        <!--<script type="text/javascript" src="js/lib/dygraphs/dygraph-combined.js"></script>-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

        <!--<link href="/chrome_themes/nimbus/css/chrometwo.css" rel="stylesheet" />-->
        <!--<link href="/chrome_themes/nimbus/css/master-blessed1.css" rel="stylesheet" />-->
        <!--<link href="/chrome_themes/nimbus/css/master.css" rel="stylesheet" />-->
        <!--<link href="/webassets/avalon/s/chosen.css" rel="stylesheet" />-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="<%- STYLE_URL %>" rel="stylesheet"/>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            window.logreaper = {}
            window.logreaper['mainJsHash'] = "<%- mainJsHash %>";
            window.logreaper['version'] = "<%- version %>";
            window.logreaper['browserPath'] = "<%- BROWSER_PATH %>";
        </script>

        <div id="content">
            <%- body %>
        </div>

        <!-- This is the marty state for rehydration to the stores once the browser js kicks in -->
        <%- state %>


        <!-- If using the commons in webpack. Not currently hence the dev testing-->
        <% if (ENV == 'development' && COMMONS_URL) { %>
        <script type="text/javascript" src="<%- COMMONS_URL %>"></script>
        <% } %>

        <!-- Inject the main script for bootstrapping React -->
        <script type="text/javascript" src="<%- SCRIPT_URL %>"></script>

    </body>
</html>
